.myteam {
  grid-area: myteam;
  min-height: 150px;
}
.pokegrid {
  grid-area: pokegrid;
  min-height: 300px;
}
.pokedex {
  grid-area: pokedex;
  min-height: 300px;
}

.myteam,
.pokedex,
.pokegrid {
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  padding: 1rem;
  margin: 0.5rem;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
  padding: 2rem 0;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    'myteam myteam'
    'pokegrid pokedex';

  @media (max-width: 767px) {
    width: 90%;
  }
}
